# Natural Language Processing: Detecting Humor
## TP2 - IART - G44
- [Afonso Caiado, up201806789](https://sigarra.up.pt/feup/pt/fest_geral.cursos_list?pv_num_unico=201806789)
- [Diogo Nunes, up201808546](https://sigarra.up.pt/feup/pt/fest_geral.cursos_list?pv_num_unico=201808546)
- [Jo√£o Pinto, up201806667](https://sigarra.up.pt/feup/pt/fest_geral.cursos_list?pv_num_unico=201806667)

**It is recommended to [view this notebook in nbviewer](http://nbviewer.ipython.org/github/rhiever/Data-Analysis-and-Machine-Learning-Projects/blob/master/example-data-science-notebook/Example%20Machine%20Learning%20Notebook.ipynb) for the best viewing experience.**

**You can also [execute the code in this notebook on Binder](https://mybinder.org/v2/gh/rhiever/Data-Analysis-and-Machine-Learning-Projects/master?filepath=example-data-science-notebook%2FExample%20Machine%20Learning%20Notebook.ipynb) - no local installation required.**

## Table of contents

1. [Introduction](#Introduction)

2. [Required libraries](#Required-libraries)

3. [Main](#Main)

11. [Conclusions](#Conclusions)

In [ ]:
import pandas as pd
fields = ['id', 'is_humor', 'humor_rating', 'text']

# Importing the test dataset
train_dataset = pd.read_csv('datasets/train.csv', usecols=fields, na_values=['NaN'])

In [ ]:
train_dataset.head()

As we can see, our database have 4 relevant fields for our project: **id**, **text**, **is_humor** and **humor_rating**.

In [27]:
train_dataset.describe()

               id     is_humor  humor_rating
count  8000.00000  8000.000000   4932.000000
mean   4000.50000     0.616500      2.260525
std    2309.54541     0.486269      0.566974
min       1.00000     0.000000      0.100000
25%    2000.75000     0.000000      1.890000
50%    4000.50000     1.000000      2.280000
75%    6000.25000     1.000000      2.650000
max    8000.00000     1.000000      4.000000

This table shows that our train dataset has:
- 8000 data lines;
- Curiously, there is no text evaluated with more than 4 in humor_rating column;
- The mean value of humor_rating is 2.26
- 61.6% of the dataset is considered humoristic.

In [ ]:
# Cleaning and tokenizing the text

import re
import nltk
from nltk.stem.porter import PorterStemmer
from nltk.corpus import stopwords

corpus = []
ps = PorterStemmer()
for i in range(0,8000):
    # get review and remove non alpha chars
    text = re.sub('[^a-zA-Z]', ' ', train_dataset['text'][i])
    # to lower-case and tokenize
    text = text.lower().split()
    # stemming and stop word removal
    text = ' '.join([ps.stem(w) for w in text if not w in set(stopwords.words('english'))])
    corpus.append(text)
    
print(corpus)